body{
    background-color: darkgrey;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: cursive;
    font-size: 80px;
    color:rgb(60, 7, 109);
}

h2 {
    font-family: cursive;
    color:rgb(60, 7, 109);
}


.players {
    display: flex;
    flex-direction: row;
    font-family: cursive;
    font-size: 30px;
    color: rgb(5, 71, 23);
}

.player1 {
    display: block;
    margin-right: 200px;
}

.player2 {
    display: block;
    margin-left: 200px;
}

img {
    height: 100px;
}
